body{
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    background-color: #88cf17;
    text-align: center; /* centers h1 */
}

h1{
    color: #fff;
    margin-top: 5px;
}

.container{
    width: 450px;
    height: 480px;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 20px;
    background-color: #fff;
    margin: 40px auto; /* centered container */
}

#output{
    font-size: 100px;
    text-align: center;
}

.plus{
    width: 120px;
    height: 150px;
    background-color: darkcyan;
    font-size: 100px;
    border-radius: 25px;
    margin-right: 50px;
    float:left;
    color: #fff;
    margin-bottom: 10px;
}

.minus{
    width: 120px;
    height: 150px;
    background-color:indigo;
    font-size: 100px;
    border-radius: 25px;
    color: #fff;
    float: right;
}

#reset{
    background-color: #6c757d;
    color: white;
    font-size: 35px;
    border-radius: 10px;
    margin-left: 2px;
    margin-right: 50px;
        
}
